**Proyecto Numero 1 - Data Analitics**

**Ejercicio N°1:**

Escribir un programa que pregunte al usuario o genere las ventas
de los últimos 5 días, y muestre por pantalla una serie (Dataframe)
con los datos de las ventas por producto (opcional): Nro de
unidades y precio unitario, indexada por los días, antes y después
de aplicarles un descuento del 5%.
(Diversas opciones de solución: libre)

In [1]:
# Importamos librerias a usar
import pandas as pd
import numpy as np

In [2]:
# Aca pondremos las variables a usar y sus valores iniciales.
productos = []
precios = []
fechas = []
cantidad = []
columnas = ["Producto", "Precio/Unitario","Cantidad","Precio Total",
            "Precio Total con Descuento"]
mercaderia = [['arroz',2],['azucar',2.5],['leche',3],['gaseosa',9.5],
              ['mantequilla',6.4],['queso',24],['sublime',2.2],
              ['naranja',2.3],['platano',0.5],['Aceite',2.4],['Detergente',7]]

In [3]:
# Definimos las funciones a utilizar
def DataManual():
  '''
  Funcion DataManual encargada de ingresar los valores de las ventas
  manualmente, Ingresando la Fecha, Producto, Valor Unitario, Cantidad
  vendida.
  Ejemplo.
  21082022
  Arroz
  2.5
  5
  '''
  global producto, precio
  dato=''
  while(True):
    print("""Desea Salir escriba: Y, Si desea continuar Ingresando Datos presione cualquier letra""")
    opcion = input()
    if (opcion == 'y') or (opcion == 'Y'):
      break
    else:
      print("Ingresar Fecha de Venta(YYYY-MM-DD): ")
      dato0 = input()
      fechas.append(dato0)
      print("Ingresar Producto Vendido: ")
      dato1 = input()
      productos.append(dato1)
      print("Ingresar Precio Unitario de ",dato1,": ")
      dato2 = float(input())
      precios.append(dato2)
      print("Ingresar Cantidad Vendida de ",dato1,": ")
      dato3 = float(input())
      cantidad.append(dato3)

In [4]:
#Iniciamos el programa, teniendo 2 opciones, ingreso manual o generacion automatica
print("""Buenos dias.
Si usted va a ingresar manualmente sus ventas seleccione 1.
Si usted va a generar una lista de ventas seleccione 2.
Seleccione la opcion correcta""")
EntradaDatos = input()
if (EntradaDatos == '1'):
  DataManual()
elif (EntradaDatos == '2'):
  numero_ventas=np.random.randint(1,100) #Primero tenemos un valor del numero de ventas
  #Asignamos fechas entre hoy y 5 dias atras
  fecha = np.arange(np.datetime64(np.datetime64('today','D') - np.timedelta64(5, 'D')),np.datetime64('today','D')) 
  fechas = np.random.choice(fecha,numero_ventas) #Generamos fechas aleatorias para el numero de ventas
  for i in range(0,numero_ventas): #Generamos las ventas de productos aleatorias y sus precios
    temp = np.random.randint(len(mercaderia))
    productos.append(mercaderia[temp][0])
    precios.append(mercaderia[temp][1])
  cantidad = np.random.randint(1,10,numero_ventas) #Generamos la cantidad de productos que se vendieron
else:
  exit

Buenos dias.
Si usted va a ingresar manualmente sus ventas seleccione 1.
Si usted va a generar una lista de ventas seleccione 2.
Seleccione la opcion correcta
2

In [5]:
#Generamos el Dataframe Solicitado
df_ventas = pd.DataFrame(None,fechas,columnas)
df_ventas['Producto'] = productos
df_ventas['Precio/Unitario'] = precios
df_ventas['Cantidad'] = cantidad
df_ventas['Precio Total'] = df_ventas['Precio/Unitario']*df_ventas['Cantidad']
df_ventas['Precio Total con Descuento'] = df_ventas['Precio Total']-(df_ventas['Precio Total']*0.05)
df_ventas

,Producto,Precio/Unitario,Cantidad,Precio Total,Precio Total con Descuento
2022-08-14,leche,3.0,8,24.0,22.80
2022-08-11,Aceite,2.4,3,7.2,6.84
2022-08-11,platano,0.5,4,2.0,1.90
2022-08-14,azucar,2.5,2,5.0,4.75
2022-08-11,queso,24.0,1,24.0,22.80
...,...,...,...,...,...
2022-08-12,queso,24.0,4,96.0,91.20
2022-08-14,queso,24.0,6,144.0,136.80
2022-08-13,leche,3.0,5,15.0,14.25
2022-08-15,naranja,2.3,2,4.6,4.37
2022-08-13,mantequilla,6.4,1,6.4,6.08

In [6]:
# Mostramos el dataframe solicitado agrupado por producto
df_product = df_ventas.groupby(['Producto']).sum()
print(df_product[['Cantidad','Precio Total','Precio Total con Descuento']])

             Cantidad  Precio Total  Precio Total con Descuento
Producto
Aceite             35          84.0                      79.800
Detergente         19         133.0                     126.350
arroz               7          14.0                      13.300
azucar             37          92.5                      87.875
gaseosa            52         494.0                     469.300
leche              43         129.0                     122.550
mantequilla        45         288.0                     273.600
naranja            38          87.4                      83.030
platano            21          10.5                       9.975
queso              43        1032.0                     980.400
sublime            20          44.0                      41.800

**Ejercicio Nº 2**

Escribir un programa que reciba un diccionario con los ingresos
mensuales de los clientes de una empresa, y devuelva una serie
con el ingreso mínimo, máximo y media.
El resultado final debe ser una serie con los estadísticos.

In [7]:
#Generamos un diccionario clientes
clientes = {
    "Nombre": ["Carlos Berroti","Ernesto Rodriguez","Daniel Marroqui","Juana Samanez","Sofia Benavidez","Eduado Marazas","Enrique Mostajo",
               "Rafel Bernedo", "Jorge Ramirez","Julio Esquiche"],
    }
clientes["Ingresos"] = np.random.randint(2000,15000,len(clientes['Nombre']))
#Ingresamos en diccionario y lo convertimos en Dataframe y mostramos los valores solicitados
df_ingresos = pd.DataFrame(clientes,None,['Nombre','Ingresos'])
df_ingresos

              Nombre  Ingresos
0     Carlos Berroti      2333
1  Ernesto Rodriguez      9245
2    Daniel Marroqui      2787
3      Juana Samanez      3186
4    Sofia Benavidez     12684
5     Eduado Marazas     10507
6    Enrique Mostajo      6303
7      Rafel Bernedo      2321
8      Jorge Ramirez     14542
9     Julio Esquiche      3365

In [8]:
df_stadistic = pd.DataFrame(None,["Max. Ingreso","Min. Ingreso","Promedio Ingreso"],["Nombre",'Ingresos'])
df_stadistic.loc["Max. Ingreso"] = df_ingresos.max()
df_stadistic.loc["Min. Ingreso"] = df_ingresos.min()
df_stadistic.loc["Promedio Ingreso"] = df_ingresos.median()
df_stadistic['Ingresos']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Max. Ingreso         14542
Min. Ingreso          2321
Promedio Ingreso    4834.0
Name: Ingresos, dtype: object

**Ejercicio Nº 3**

Escribir programa que genere y muestre por pantalla un DataFrame
con los datos de la siguiente tabla:

***
Mes Ventas Gastos
***
Enero 30500 22000
***
Febrero 35600 23450
***
Marzo 28300 18100
***
Abril 33900 35700
***
Mayo 42500 32450
***
A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas&gt;= 30000, imprimir “Meta Superada”,
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto&gt;Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [9]:
columns = ["Mes","Ventas","Gastos"]
Mes = ["Enero","Febrero","Marzo","Abril","Mayo"]
Ventas = [30500,35600,28300,33900,42500]
Gastos = [22000,23450,18100,35700,32450]
df_datos = pd.DataFrame(None,None,columns)
df_datos["Mes"] = Mes
df_datos["Ventas"] = Ventas
df_datos["Gastos"] = Gastos
df_datos
df_datos["C1 (G/V)*100"] = 100*df_datos["Gastos"]/df_datos["Ventas"]
df_datos.loc[df_datos["Ventas"] >= 30000, "C2(V>=30000)"] = "Meta Superada"
df_datos.loc[df_datos["Ventas"] < 30000, "C2(V>=30000)"] = "Meta No Superada"
df_datos.loc[df_datos["Ventas"] > df_datos["Gastos"], "C3(V>G)"] = df_datos["Ventas"] - df_datos["Gastos"]
df_datos.loc[df_datos["Ventas"] < df_datos["Gastos"], "C3(V>G)"] = "-"
df_datos

       Mes  Ventas  Gastos  C1 (G/V)*100      C2(V>=30000)  C3(V>G)
0    Enero   30500   22000     72.131148     Meta Superada   8500.0
1  Febrero   35600   23450     65.870787     Meta Superada  12150.0
2    Marzo   28300   18100     63.957597  Meta No Superada  10200.0
3    Abril   33900   35700    105.309735     Meta Superada        -
4     Mayo   42500   32450     76.352941     Meta Superada  10050.0

In [10]:
Suma_Ventas1 = df_datos.iloc[-3::]['Ventas'].sum()
print("La suma de las ventas de los ultimos 3 meses = ",Suma_Ventas1)
Suma_Ventas2 = df_datos.iloc[1:4:]['Ventas'].sum()
print("La suma de las ventas de los meses de febrero a abril = ",Suma_Ventas2)

La suma de las ventas de los ultimos 3 meses =  104700
La suma de las ventas de los meses de febrero a abril =  97800

***Ejercicio Nº 4***

Con el siguiente fichero Data - Riesgos.csv contiene información
de riesgo de clientes de un banco. Escribir un programa con los
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el
número de datos que contiene, los nombres de sus columnas
y filas, los tipos de datos de las columnas, mostrar las 10
primeras filas y las 10 últimas filas, verificar si tiene datos
perdidos/nulos.
3. Extraer las 100 primeras filas y almacenarlas en un
contenedor.

***
Generar un DataFrame con los datos del fichero.

In [12]:
from google.colab import files
df_archivo = pd.read_csv('/content/Data-Riesgos.csv')
df_archivo

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.00,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.00,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.70,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.00,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.00,200.0,2,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...
4495,1494,54.0,510.0,87.0,24000.00,214.0,2,1.0,2,0
4496,1495,63.0,305.0,99.0,9880.73,219.0,2,5.0,2,0
4497,1496,48.0,194.0,124.0,23000.00,224.0,4,1.0,2,0
4498,1497,39.0,245.0,121.0,12450.00,240.0,4,5.0,2,0
4499,1499,65.0,674.0,38.0,20000.00,238.0,4,5.0,2,0

***
Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.

In [20]:
print("Las dimensiones del Data Frame Archivo son: ",df_archivo.ndim)
print("El numero de datos del Data Frame Archivo es: ",len(df_archivo.index))
print("El nombre de las columnas de Data Frame Archivo es: \n",df_archivo.columns.values)
print("El nombre de las filas de Data Frame Archivo es: \n",df_archivo.index.values)
print("Los tipos de datos de las columnas son: \n",df_archivo.dtypes)

Las dimensiones del Data Frame Archivo son:  2
El numero de datos del Data Frame Archivo es:  4500
El nombre de las columnas de Data Frame Archivo es:
 ['ID' 'edad' 'meses' 'max_ant' 'ingreso' 'score' 'tipo_vivienda' 'zona'
 'nivel' 'riesgo']
El nombre de las filas de Data Frame Archivo es:
 [   0    1    2 ... 4497 4498 4499]
Los tipos de datos de las columnas son:
 ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object

In [15]:
print("Las 10 primeras files del Data Frame Archivo son: ")
print(df_archivo.head(10))

Las 10 primeras files del Data Frame Archivo son:
     ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [16]:
print("Las 10 ultimas files del Data Frame Archivo son: ")
print(df_archivo.tail(10))

Las 10 ultimas files del Data Frame Archivo son:
        ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0

In [17]:
print("El Data Frame Archivo tiene los siguientes datos nulos: ")
print(df_archivo.isnull().sum())

El Data Frame Archivo tiene los siguientes datos nulos:
ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64

***
Extraer las 100 primeras filas y almacenarlas en un contenedor.

In [18]:
dict_archivo = df_archivo.head(100).to_dict()
print(dict_archivo)

{'ID': {0: 2208, 1: 2211, 2: 2212, 3: 2216, 4: 2218, 5: 2219, 6: 2226, 7: 2227, 8: 2228, 9: 2230, 10: 2233, 11: 2234, 12: 2235, 13: 2236, 14: 2238, 15: 2240, 16: 2244, 17: 2247, 18: 2248, 19: 2252, 20: 2254, 21: 2258, 22: 2261, 23: 2262, 24: 2263, 25: 2264, 26: 2267, 27: 2269, 28: 2270, 29: 2274, 30: 2276, 31: 2277, 32: 2282, 33: 2285, 34: 2290, 35: 2291, 36: 2292, 37: 2293, 38: 2294, 39: 2295, 40: 2298, 41: 2299, 42: 2300, 43: 2306, 44: 2309, 45: 2310, 46: 2315, 47: 2316, 48: 2317, 49: 2318, 50: 2319, 51: 2322, 52: 2323, 53: 2324, 54: 2325, 55: 2326, 56: 2327, 57: 2328, 58: 2330, 59: 2331, 60: 2334, 61: 2335, 62: 2336, 63: 2337, 64: 2339, 65: 2340, 66: 2341, 67: 2343, 68: 2344, 69: 2347, 70: 2349, 71: 2350, 72: 2351, 73: 2356, 74: 2358, 75: 2359, 76: 2360, 77: 2362, 78: 2363, 79: 2364, 80: 2365, 81: 2366, 82: 2367, 83: 2368, 84: 2370, 85: 2373, 86: 2374, 87: 2375, 88: 2378, 89: 2380, 90: 2381, 91: 2382, 92: 2383, 93: 2384, 94: 2385, 95: 2387, 96: 2389, 97: 2391, 98: 2392, 99: 2394}, 'edad': {0: 33.0, 1: 32.0, 2: 28.0, 3: 56.0, 4: 32.0, 5: 34.0, 6: nan, 7: 27.0, 8: 26.0, 9: 25.0, 10: 49.0, 11: 49.0, 12: 28.0, 13: 30.0, 14: 45.0, 15: 21.0, 16: 37.0, 17: 36.0, 18: 32.0, 19: 25.0, 20: 32.0, 21: 38.0, 22: 26.0, 23: 26.0, 24: 40.0, 25: 30.0, 26: 24.0, 27: 35.0, 28: 29.0, 29: 23.0, 30: 31.0, 31: 38.0, 32: 53.0, 33: 29.0, 34: nan, 35: 29.0, 36: 34.0, 37: 22.0, 38: 22.0, 39: 29.0, 40: 31.0, 41: 27.0, 42: 25.0, 43: 48.0, 44: 25.0, 45: 32.0, 46: 28.0, 47: 37.0, 48: 23.0, 49: 21.0, 50: 27.0, 51: 30.0, 52: 25.0, 53: 34.0, 54: 38.0, 55: 30.0, 56: nan, 57: 71.0, 58: 33.0, 59: nan, 60: 31.0, 61: 21.0, 62: 45.0, 63: 64.0, 64: 42.0, 65: 41.0, 66: 30.0, 67: 42.0, 68: 25.0, 69: 35.0, 70: 35.0, 71: 41.0, 72: 48.0, 73: 30.0, 74: 39.0, 75: 30.0, 76: 25.0, 77: 43.0, 78: 43.0, 79: 41.0, 80: 34.0, 81: 26.0, 82: 22.0, 83: nan, 84: 43.0, 85: 46.0, 86: 22.0, 87: 20.0, 88: 28.0, 89: 29.0, 90: 23.0, 91: 29.0, 92: 27.0, 93: 31.0, 94: 24.0, 95: 41.0, 96: 29.0, 97: 27.0, 98: 35.0, 99: 28.0}, 'meses': {0: 128.0, 1: 185.0, 2: nan, 3: 200.0, 4: 131.0, 5: 145.0, 6: 114.0, 7: 116.0, 8: 182.0, 9: 154.0, 10: 203.0, 11: 159.0, 12: 127.0, 13: 137.0, 14: 151.0, 15: 118.0, 16: 330.0, 17: 257.0, 18: 163.0, 19: 128.0, 20: 127.0, 21: 151.0, 22: 148.0, 23: 142.0, 24: 130.0, 25: 119.0, 26: 110.0, 27: 184.0, 28: 147.0, 29: 162.0, 30: 193.0, 31: 150.0, 32: 277.0, 33: 152.0, 34: 182.0, 35: 150.0, 36: 162.0, 37: 95.0, 38: 124.0, 39: 122.0, 40: 128.0, 41: 164.0, 42: 133.0, 43: 181.0, 44: 144.0, 45: 222.0, 46: 130.0, 47: 144.0, 48: 127.0, 49: 131.0, 50: 126.0, 51: 150.0, 52: 126.0, 53: 182.0, 54: 117.0, 55: 117.0, 56: 147.0, 57: 126.0, 58: 151.0, 59: 116.0, 60: 119.0, 61: 145.0, 62: 161.0, 63: 210.0, 64: 125.0, 65: 157.0, 66: 136.0, 67: 134.0, 68: 131.0, 69: 121.0, 70: 126.0, 71: 262.0, 72: 142.0, 73: 134.0, 74: 147.0, 75: 134.0, 76: 127.0, 77: 129.0, 78: 179.0, 79: 156.0, 80: 178.0, 81: 150.0, 82: 162.0, 83: 149.0, 84: 241.0, 85: 181.0, 86: 162.0, 87: 121.0, 88: 142.0, 89: 148.0, 90: 111.0, 91: 107.0, 92: 126.0, 93: 218.0, 94: 166.0, 95: 141.0, 96: 159.0, 97: 122.0, 98: 111.0, 99: 137.0}, 'max_ant': {0: 6.0, 1: 7.0, 2: 7.0, 3: 0.0, 4: 65.0, 5: 6.0, 6: 0.0, 7: 0.0, 8: 6.0, 9: 1.0, 10: 0.0, 11: 0.0, 12: 0.0, 13: 0.0, 14: 18.0, 15: 0.0, 16: 8.0, 17: 0.0, 18: 0.0, 19: 0.0, 20: 0.0, 21: 0.0, 22: 12.0, 23: 21.0, 24: 5.0, 25: 0.0, 26: 0.0, 27: 0.0, 28: 0.0, 29: 8.0, 30: 23.0, 31: 7.0, 32: 0.0, 33: 16.0, 34: 0.0, 35: 0.0, 36: 0.0, 37: 14.0, 38: 0.0, 39: 0.0, 40: 14.0, 41: 0.0, 42: 0.0, 43: 0.0, 44: 0.0, 45: 6.0, 46: 12.0, 47: 3.0, 48: 12.0, 49: nan, 50: 0.0, 51: 8.0, 52: 0.0, 53: 42.0, 54: 0.0, 55: 0.0, 56: 14.0, 57: 12.0, 58: 18.0, 59: 0.0, 60: 0.0, 61: 0.0, 62: 0.0, 63: 0.0, 64: 0.0, 65: 20.0, 66: 11.0, 67: 0.0, 68: 0.0, 69: 0.0, 70: 0.0, 71: 80.0, 72: 12.0, 73: 0.0, 74: 96.0, 75: 11.0, 76: 0.0, 77: 0.0, 78: 0.0, 79: 25.0, 80: 8.0, 81: 0.0, 82: 23.0, 83: 17.0, 84: 0.0, 85: 80.0, 86: 24.0, 87: 0.0, 88: 14.0, 89: 8.0, 90: 7.0, 91: 11.0, 92: 0.0, 93: 0.0, 94: 0.0, 95: 0.0, 96: 17.0, 97: nan, 98: 0.0, 99: 0.0}, 'ingreso': {0: 3230.0, 1: 2930.0, 2: 1883.7, 3: 850.0, 4: 3200.0, 5: 7000.0, 6: 2171.5, 7: 800.0, 8: 3150.0, 9: 2600.0, 10: 6350.0, 11: 3330.0, 12: 1400.0, 13: 6000.0, 14: 1050.0, 15: nan, 16: 2432.0, 17: 1400.0, 18: 3000.0, 19: 889.98, 20: 1200.0, 21: 2000.0, 22: 2052.84, 23: 1500.0, 24: 3486.7, 25: 2833.55, 26: 909.03, 27: 9072.0, 28: 1500.0, 29: 1117.6, 30: nan, 31: 11477.0, 32: 1200.0, 33: 8500.0, 34: 5000.0, 35: 8300.0, 36: 2580.0, 37: 7200.0, 38: 899.6, 39: 1300.0, 40: 1460.0, 41: 3914.0, 42: 966.06, 43: 6800.0, 44: 795.66, 45: 2613.41, 46: 608.6, 47: 2500.0, 48: 2142.0, 49: 1200.0, 50: 840.0, 51: 4000.0, 52: 1071.59, 53: 2248.76, 54: 909.1, 55: 3350.0, 56: 593.57, 57: 2824.63, 58: 2100.0, 59: 901.51, 60: 1168.0, 61: 851.55, 62: 19558.36, 63: 415.0, 64: 1200.0, 65: 9755.0, 66: nan, 67: 1206.88, 68: 800.0, 69: 1800.0, 70: 2347.96, 71: 3500.0, 72: 2300.0, 73: 3500.0, 74: 2000.0, 75: 1600.0, 76: 1200.0, 77: 1239.3, 78: 1700.0, 79: 2750.0, 80: 3800.0, 81: 6600.0, 82: 3400.0, 83: 2300.0, 84: 5500.0, 85: 9300.0, 86: 3400.0, 87: 663.75, 88: 2100.0, 89: 700.0, 90: 2100.0, 91: 3178.5, 92: 2052.82, 93: 3300.33, 94: nan, 95: 3420.36, 96: 1157.06, 97: 2000.0, 98: 812.53, 99: 2000.0}, 'score': {0: 192.0, 1: 217.0, 2: 202.0, 3: 194.0, 4: 200.0, 5: 196.0, 6: 178.0, 7: 169.0, 8: 190.0, 9: 189.0, 10: 224.0, 11: 221.0, 12: 177.0, 13: 192.0, 14: 173.0, 15: 175.0, 16: 174.0, 17: 186.0, 18: 175.0, 19: 169.0, 20: 175.0, 21: 180.0, 22: 196.0, 23: 178.0, 24: 216.0, 25: 211.0, 26: 156.0, 27: 210.0, 28: 196.0, 29: 168.0, 30: 213.0, 31: 189.0, 32: 183.0, 33: 173.0, 34: 214.0, 35: 192.0, 36: 213.0, 37: 181.0, 38: 175.0, 39: 175.0, 40: 170.0, 41: 196.0, 42: 188.0, 43: 205.0, 44: 163.0, 45: 214.0, 46: 194.0, 47: 187.0, 48: 176.0, 49: 175.0, 50: 154.0, 51: 193.0, 52: 169.0, 53: 219.0, 54: 171.0, 55: 219.0, 56: 188.0, 57: 230.0, 58: 175.0, 59: 168.0, 60: 168.0, 61: 156.0, 62: 240.0, 63: 194.0, 64: 183.0, 65: 224.0, 66: 173.0, 67: 180.0, 68: 163.0, 69: 182.0, 70: 194.0, 71: 199.0, 72: 214.0, 73: 219.0, 74: 182.0, 75: 181.0, 76: 169.0, 77: 201.0, 78: 156.0, 79: 216.0, 80: 216.0, 81: 188.0, 82: 192.0, 83: 187.0, 84: 205.0, 85: 208.0, 86: 192.0, 87: 156.0, 88: 186.0, 89: 188.0, 90: 214.0, 91: 192.0, 92: 193.0, 93: 202.0, 94: 176.0, 95: 214.0, 96: 163.0, 97: 188.0, 98: 177.0, 99: 175.0}, 'tipo_vivienda': {0: 2, 1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 4, 9: 2, 10: 4, 11: 2, 12: 2, 13: 2, 14: 2, 15: 4, 16: 2, 17: 2, 18: 2, 19: 2, 20: 2, 21: 2, 22: 2, 23: 2, 24: 4, 25: 2, 26: 2, 27: 4, 28: 4, 29: 4, 30: 4, 31: 4, 32: 2, 33: 2, 34: 4, 35: 2, 36: 2, 37: 2, 38: 4, 39: 2, 40: 2, 41: 2, 42: 4, 43: 2, 44: 3, 45: 2, 46: 2, 47: 2, 48: 2, 49: 2, 50: 2, 51: 2, 52: 2, 53: 4, 54: 2, 55: 2, 56: 2, 57: 4, 58: 2, 59: 4, 60: 2, 61: 2, 62: 4, 63: 2, 64: 2, 65: 2, 66: 2, 67: 2, 68: 2, 69: 2, 70: 2, 71: 4, 72: 4, 73: 4, 74: 2, 75: 2, 76: 2, 77: 4, 78: 2, 79: 2, 80: 2, 81: 4, 82: 2, 83: 2, 84: 2, 85: 4, 86: 2, 87: 2, 88: 2, 89: 2, 90: 2, 91: 2, 92: 4, 93: 1, 94: 2, 95: 4, 96: 2, 97: 2, 98: 2, 99: 3}, 'zona': {0: 3.0, 1: 1.0, 2: 1.0, 3: 1.0, 4: 1.0, 5: 5.0, 6: 2.0, 7: 1.0, 8: 3.0, 9: 1.0, 10: 1.0, 11: 1.0, 12: 1.0, 13: 1.0, 14: 4.0, 15: 1.0, 16: 3.0, 17: 3.0, 18: 3.0, 19: 1.0, 20: 1.0, 21: 1.0, 22: 1.0, 23: 3.0, 24: 2.0, 25: 1.0, 26: 1.0, 27: 3.0, 28: 1.0, 29: 5.0, 30: 1.0, 31: 1.0, 32: 1.0, 33: 1.0, 34: 1.0, 35: 3.0, 36: 1.0, 37: 1.0, 38: 1.0, 39: 1.0, 40: 4.0, 41: 1.0, 42: 4.0, 43: 1.0, 44: 1.0, 45: 1.0, 46: 1.0, 47: 1.0, 48: 1.0, 49: 1.0, 50: 1.0, 51: 1.0, 52: 1.0, 53: 4.0, 54: 1.0, 55: 1.0, 56: 1.0, 57: 1.0, 58: 3.0, 59: 1.0, 60: 3.0, 61: 1.0, 62: 1.0, 63: 1.0, 64: 1.0, 65: 1.0, 66: 1.0, 67: 3.0, 68: 1.0, 69: 2.0, 70: 5.0, 71: 1.0, 72: 1.0, 73: 2.0, 74: 1.0, 75: 1.0, 76: 1.0, 77: 4.0, 78: 3.0, 79: 1.0, 80: 1.0, 81: 1.0, 82: 3.0, 83: 1.0, 84: 1.0, 85: 1.0, 86: 3.0, 87: 1.0, 88: 1.0, 89: 3.0, 90: 1.0, 91: 1.0, 92: 4.0, 93: 1.0, 94: 1.0, 95: 2.0, 96: 4.0, 97: 1.0, 98: 1.0, 99: 1.0}, 'nivel': {0: 2, 1: 5, 2: 2, 3: 5, 4: 2, 5: 2, 6: 1, 7: 5, 8: 5, 9: 2, 10: 2, 11: 5, 12: 5, 13: 5, 14: 5, 15: 5, 16: 5, 17: 2, 18: 5, 19: 5, 20: 5, 21: 5, 22: 2, 23: 2, 24: 5, 25: 5, 26: 5, 27: 5, 28: 5, 29: 5, 30: 1, 31: 2, 32: 5, 33: 2, 34: 2, 35: 5, 36: 5, 37: 2, 38: 5, 39: 5, 40: 5, 41: 5, 42: 5, 43: 2, 44: 5, 45: 2, 46: 5, 47: 5, 48: 2, 49: 5, 50: 5, 51: 2, 52: 5, 53: 2, 54: 2, 55: 2, 56: 5, 57: 5, 58: 2, 59: 5, 60: 5, 61: 5, 62: 1, 63: 5, 64: 2, 65: 2, 66: 2, 67: 5, 68: 2, 69: 5, 70: 5, 71: 2, 72: 5, 73: 2, 74: 2, 75: 2, 76: 5, 77: 5, 78: 5, 79: 5, 80: 2, 81: 2, 82: 5, 83: 2, 84: 2, 85: 5, 86: 5, 87: 5, 88: 5, 89: 2, 90: 4, 91: 5, 92: 5, 93: 2, 94: 2, 95: 1, 96: 2, 97: 2, 98: 5, 99: 5}, 'riesgo': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1, 20: 1, 21: 1, 22: 1, 23: 1, 24: 1, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1, 32: 1, 33: 1, 34: 1, 35: 1, 36: 1, 37: 1, 38: 1, 39: 1, 40: 1, 41: 1, 42: 1, 43: 1, 44: 1, 45: 1, 46: 1, 47: 1, 48: 1, 49: 1, 50: 1, 51: 1, 52: 1, 53: 1, 54: 1, 55: 1, 56: 1, 57: 1, 58: 1, 59: 1, 60: 1, 61: 1, 62: 1, 63: 1, 64: 1, 65: 1, 66: 1, 67: 1, 68: 1, 69: 1, 70: 1, 71: 1, 72: 1, 73: 1, 74: 1, 75: 1, 76: 1, 77: 1, 78: 1, 79: 1, 80: 1, 81: 1, 82: 1, 83: 1, 84: 1, 85: 1, 86: 1, 87: 1, 88: 1, 89: 1, 90: 1, 91: 1, 92: 1, 93: 1, 94: 1, 95: 1, 96: 1, 97: 1, 98: 1, 99: 1}}